@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7.5%;
    --foreground: 0 0% 100%;
    --primary: 160 100% 62%;
    --primary-foreground: 0 0% 0%;
    --secondary: 255 100% 50%;
    --secondary-foreground: 0 0% 100%;
    --card: 0 0% 18%;
    --card-foreground: 0 0% 100%;
    --muted: 0 0% 18%;
    --muted-foreground: 0 0% 58%;
    --border: 0 0% 100%;
    --input: 0 0% 7.5%;
    --ring: 160 100% 62%;
    --destructive: 255 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --radius: 1.25rem;
    --popover: 0 0% 18%;
    --popover-foreground: 0 0% 100%;
    --accent: 0 0% 18%;
    --accent-foreground: 0 0% 100%;
  }

  body {
    @apply bg-canvas-black text-white antialiased font-sans;
  }
}
